.categories {
  display: flex;
  flex-flow: column;
  align-items: center;
  & h3 {
    font-family: var(--font-family);
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: 600;
  }
  & .categoryWrapper__div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    & .category__div {
      & .category__a {
        width: 176px;
        height: 140px;
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: 10px;
        margin: 5px 0px;
        text-decoration: unset;
        color: black;
        font-family: var(--font-family);
        font-size: 11px;
        font-weight: bold;
        & img {
          width: 100px;
          border-radius: 50%;
        }
      }
    }
  }
}
