.favioritBrands {
  width: 100%;
  padding: 25px 0px;
  margin: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e2;
  border-radius: 10px;
  & .wrapper {
    & .swiper {
      width: 100%;
      height: 100%;
      margin-top: 12px;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      & .swiper-wrapper {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: start;
        & .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px 16px;
          border-left: 1px solid #e0e0e2;
          & .swiper-slide img {
            display: block;
            width: 110px;
            object-fit: cover;
          }
        }
      }
    }
  }
  & .title {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    font-family: var(--font-family);
    font-size: 20px;
    padding: 10px;
  }
}
