header {
  width: 100%;
  height: 168px;
  & .banner {
    width: 100%;
    height: 60px;
    & img {
      width: 100%;
      height: inherit;
    }
  }

  & .searchBar {
    width: 100%;
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    & .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
    }
    & .search {
      width: 929px;
      height: 44px;
      & .container {
        width: 600px;
        height: 44px;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        background-color: #f0f0f1;
        border-radius: 8px;
        & .inputContainer {
          padding: 0 16px;
          & input[type="text"] {
            border: unset;
            outline: unset;
            background-color: #f0f0f1;
            height: 23px;
            width: 512px;
            font-family: IRANYEKAN;
            font-size: 12px;
          }
        }
      }
    }
    & .login {
      display: flex;
      flex-wrap: row wrap;
      align-items: center;
      justify-content: center;
      & .btnLogin {
        width: 135px;
        height: 40px;
        padding: 8px 16px;
        border: 1px solid #f0f0f1;
        border-radius: 8px;
        & a {
          display: flex;
          flex-wrap: row wrap;
          align-items: center;
          justify-content: center;
          gap: 3px;
          text-decoration: none;
          color: black;
          font-size: 10px;
          font-family: IRANYEKAN;
          font-weight: bold;
        }
      }
      & .spaceBetweenLogin {
        display: block;
        margin-left: 12px;
        margin-right: 12px;
        width: 1px;
        height: 24px;
        background-color: #f0f0f1;
      }
      & .basket {
        display: flex;
        align-items: center;
        justify-content: center;
        & svg {
          cursor: pointer;
        }
      }
    }
  }
  & .menu {
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0px 16px;
    & nav {
      width: 100%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      & .right {
        width: fit-content;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        column-gap: 10px;
        position: relative;
        & div {
          & a {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            font-size: 13px;
            font-weight: 400;
            font-family: var(--font-family);
            text-decoration: none;
            color: #62666d;
            column-gap: 5px;
            & div {
              display: flex;
              flex-flow: row wrap;
              align-items: center;
            }
          }
        }
        & span {
          display: block;
          width: 2px;
          height: 16px;
          background-color: #e0e0e2;
        }
        & .megaMenu {
          & .megaMenu__a {
            font-weight: bold;
          }
          & .main__menu {
            position: absolute;
            display: none;
            width: 80vw;
            height: 70vh;
            background-color: white;
            z-index: 2;
            top: 100%;
            right: 0;
            transition: 300ms;
            & .second__menu {
              display: flex;
              flex-flow: column;
              row-gap: 10px;
              direction: ltr;
              width: 15%;
              height: 100%;
              background-color: rgb(237, 237, 237);
              overflow: auto;
              & .second__menu__child {
                padding: 10px;
                width: 100%;
                &:hover {
                  background-color: white;
                  & .a__secondMenu {
                    color: crimson;
                  }
                  & .third__menu__wrapper {
                    display: flex;
                  }
                }
                & .a__secondMenu {
                  display: flex;
                  flex-flow: row-reverse;
                  text-decoration: unset;
                }
                & .third__menu__wrapper {
                  direction: ltr;
                  position: absolute;
                  width: 85%;
                  height: 100%;
                  display: none;
                  flex-flow: column;
                  align-items: flex-end;
                  top: 0;
                  left: 0;
                  overflow: auto;
                  padding: 15px;
                  & .showall {
                    display: flex;
                    flex-flow: row-reverse;
                    margin-bottom: 20px;
                    color: #008eb2;
                  }
                  & .third__menu {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    & .third__menu__child {
                      width: 24%;
                      height: inherit;
                      display: flex;
                      flex-flow: column;
                      justify-content: flex-start;
                      align-items: flex-end;
                      row-gap: 20px;
                      & .a__header {
                        width: 100%;
                        display: flex;
                        flex-flow: row-reverse nowrap;
                        align-items: center;
                        justify-content: flex-start;
                        color: black;
                        font-size: 14px;
                        border-right: solid 2px crimson;
                        padding-right: 10px;
                        &:hover {
                          color: crimson;
                        }
                      }
                      & .a__child {
                        display: flex;
                        flex-flow: row-reverse;
                        color: black;
                        opacity: 0.7;
                      }
                    }
                  }
                }
              }
            }
          }
          &:hover .main__menu {
            display: block;
          }
        }
      }
      & .left{
        width: fit-content;
        height: inherit;
        display: flex;
        flex-flow: row;
        align-items: center;
        cursor: pointer;
        & .cities {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          column-gap: 5px;
          font-size: 12px;
          font-family: var(--font-family);
        }
      }
    }
    & .endOfHeader {
      width: 100%;
      height: 2px;
      background-color: #e0e0e2;
    }
  }
}
.active {
  display: flex !important;
}
