.posters-2 {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  & .poster-2__div {
    & .poster-2__a {
      & img {
        width: 620px;
        height: 250px;
        border-radius: 20px;
      }
    }
  }
}
